/* Global style */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Quicksand&display=swap');

body {
    background-color: #f8f3c6;
    font-family: "Quicksand", sans-serif;
    color: #30404f;
    text-align: center;
}

p {
    font-size: 120%;
    font-weight: 600;
    text-transform: uppercase;
}

/* Heading */

h1 {
    font-family: "Fredoka One", sans-serif;
    font-size: 280%;
}

.red {
    color: #e3170a;
}

.light-blue {
    color: #82c696;
}

.orange {
    color: #f7b32b;
}

/* Game container */

.game-box {
    background-color: #fff6e4;
    width: 75%;
    height: 30rem;
    margin: 0 auto;
    border-radius: 1rem;
    border: 2px solid #30404f;
}

/* Choice buttons */

.button-box {
    height: 15rem;
}

.btn-size {
    height: 8rem;
    width: 8rem;
}

.btn-pad {
    margin: 4rem 2rem;
}

.btn-bord {
    border-radius: 1rem;
    border: 2px solid #30404f;
}

.rock:hover {
    border: 4px solid #b4150a;
}

.paper:hover {
    border: 4px solid #689d78;
}

.scissors:hover {
    border: 4px solid #d09725;
}

.rock {
    background: url(../images/rock.jpg) no-repeat center center;
    background-size: 100%;
}

.paper {
    background: url(../images/paper.jpg) no-repeat center center;
    background-size: 100%;
}

.scissors {
    background: url(../images/scissors.jpg) no-repeat center center;
    background-size: 100%;
}